<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekend Warrior</title>
</head>
<body>

    <h1> Hey !, <%= dayType %>,<%= advice %></h1>
    
</body>
</html>
<%= dayType %>: Displays "a Weekday" or "the Weekend".
<%= advice %>: Displays either "it's Time to Work Hard" or "it's time to have Some Fun".
The values { dayType, advice } are passed from the Express.js route.
